<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Saved Articles</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="active"><a href="/saved">saved Articles</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container ">
    <h1 class="display-4">Saved Articles</h1>
    <p class="lead">Your Saved Articles</p>
  </div>
</div>
<div class="container-fluid article-container">
</div>

<footer class="footer">
    <div class="container">
        <p>ESPN NBA News Mongo Scraper</p>
    </div>
</footer>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../public/assets/javascript/saved.js"></script>